body{
	margin: 0;
	padding: 0;
	background: #4d7dac;
	color: #eaeaea;
}

a:hover{
	text-decoration: none;
}

#page-header{
	width: 100%;
	height: 90px;
	background-color: #F3F4F4;
	border-bottom: solid 6px #2c5f92;
	padding-bottom: 7px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#page-header ul{
	list-style-type: none;
	margin: 10px auto 30px auto;
	padding: 0;
	width: 90%;

}

#page-header ul li{
	display: block;
	float: left;
}

#page-header ul li img{
	margin: 0 40px 0 0;
}

#page-header ul li a{
	display: block;
	margin: 10px 0px;
	padding: 20px;
	color: #393939;
	text-decoration: none;
	font-family: sans-serif;
}

#page-header ul li a:hover{
	color: #156ebb;
}

#page-header ul li form input{
	float: right;
	padding: 14px 15px;
	border-radius: 6px;
	border: solid 1px #CCCCCC;
	margin: 14px 0 0 30px;
	width: 500px;
}

#page-wrapper{
	margin: 150px auto 0 auto;
	width: 90%;
	height: auto;
	overflow: hidden;
}

#main-content{
	width: 75%;
	float: left;
	font-family: sans-serif;
}

#main-content img{
	text-align: left;
	float: right;
	margin: 0 20px 20px 20px;
}

#main-content a{
	font-weight: bold;
	color: #151515;
}

#page-section{
	height: auto;
	overflow: hidden;
	padding: 20px 0;
}

#main-content h2{
	font-family: sans-serif;
	font-weight: 300;
	font-size: 2.2em;
}

#news-preview{
	padding: 15px 20px;
	background: #fafafa;
	color: #010101;
}

#news-preview a{
	color: #41557e;
}

#news-preview-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 15px 0;
	background: #F3F4F4;
}

#news-preview-bottom{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 15px 0;
	background: #F3F4F4;
}

#news-preview:nth-child(even){
	background: #F3F4F4;
}

#page-sidebar{
	float: left;
	width: 20%;
	height: auto;
}

#page-sidebar ul{
	font-family: sans-serif;
	font-size: 0.9em;
	list-style-type: none;
	margin: 10px 0 0 30px;
	padding: 0;
	width: 100%;
}

#page-sidebar ul li{
	float: left;
	display: block;
	margin: 0 15px 10px 0;
}

#page-sidebar ul li a{
	color: #fafafa;
	text-decoration: none;
}

#page-sidebar ul li a:hover{
	text-decoration: underline;
}

#page-sidebar #sidebar-section{
	width: 100%;
	background: #F3F4F4;
	padding: 20px;
	border-radius: 10px;
	font-family: sans-serif;
	margin: 125px 0 0 30px;
	color:  #292929;
	height: auto;
	overflow: hidden;
}

#page-sidebar form #form-section{
	width: 100%;
	margin: 5px 0;
}

#page-sidebar form #form-section input{
	width: 90%;
	padding: 14px 4%;
	border-radius: 5px;
	border: solid 1px #CCCCCC;
}

#page-footer{
	width: 100%;
	background: #11365b;
	min-height: 100px;
}

#form-input-section{
	width: 90%;
	margin: 0 0 15px 0;
}

#form-input-section input{
	padding: 13px;
	width:90%;
	border-radius: 5px;
	border: solid 1px #CCCCCC;
}

#form-input-section textarea{
	width: 90%;
	height: 200px;
	border-radius: 5px;
	border: solid 1px #CCCCCC;
	padding: 13px;
}

#warning{
	background: #8e3b3b;
	border-radius: 5px;
	border: solid 1px #643434;
	padding: 0 10px;
	text-align: center;
	color: #f2f2f2;
	font-family: arial;
}

.upvotes{
	margin: 5px 0;
	color: #696969;
	font-size: 0.9em;
}

.button{
	padding: 14px 30px;
	color: #eaeaea;
	text-decoration: none;
	width: 200px;
	text-align: center;
	border-radius: 7px;
	border: none;
	border-top: solid 3px transparent;
	background: #4195DD;
	color: #fafafa;
	border-bottom: solid 3px #3882C1;
	font-size: 1em;
}

.login-button{
	margin-top: 10px;
}
